body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 a{
    margin: 560px;
    text-decoration: inherit;
    color: black;
}

h1 a:hover{
text-decoration: 3px solid green underline;
transition: 0.5s;


}
span{
    color: green;
    font-weight: bold;
    
    
}

h1 a:visited{
    color: rgb(90, 172, 197);
}
h2 a{
    margin: 200px;
    text-decoration: inherit;
    color: black;
}
h2 a:hover{
    text-decoration: 3px solid green underline;
    transition: 0.5s;}

 h2 a:visited{
        color: rgb(90, 172, 197);}